<!doctype html>
<html lang="<%= Gettext.get_locale(Web.Gettext) %>">
    <%= raw LayoutHelper.header() %>
    <body>
        <%= raw MainLayout.header() %>
        <%= @inner_content %>
    </body>
    <%= raw LayoutHelper.footer() %>
</html>
